<ion-modal-view>
	<ion-header-bar class="effect1">
		<h1 class="titleuni">Question</h1>
		<div class="button button-clear" ng-click="rates_modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
		<div class="rates">
			  <div class="rates-image effect4"></div>
    <p>
  Do you enjoy using LWKM?
    </p>
 <button class="button ion-happy button-block button-assertive" ng-click="popAsk2(); rates_modal.hide();"> YES</button>
 <button class="button ion-sad button-block button-assertive" ng-click="popAsk1(); rates_modal.hide();"> NO</button>
	</div>
    </ion-content>
</ion-modal-view>
