<ion-view class="contact-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon borderright icon ion-navicon-round"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>About Us</span>
  </ion-nav-title>
  <ion-content>

  <div class="contact-content">
      <div class="about-image effect4"></div>
  <div>
        <h3 class="title">Wetin we dey do?</h3>
         <p>LWKM stands for Laff Wan Kill Me. We  are a library for all things/people that are funny. We believe life is too hard and that you deserve a break. What better way to unwind than to laugh and forget stressful situations?</p>
         <p>
         We get our laughs from different sources from the internet and we promote comedians and upcoming comedians. Making people laugh is not easy. Hence, we credit you for your works that we showcase here.
        </p>
      </div>

    <div><button class="button ion-camera button-block button-assertive" onclick="window.open('http://www.lwkm.ng/privacy/', '_system', 'location=yes'); return false;"> Privacy Policy
</button></div>
    </div>
  </ion-content>
</ion-view>
