<ion-view class="contact-view">
  <ion-nav-title>
    <span>You are offline</span>
  </ion-nav-title>
  <ion-content>
  <div class="contact-content">
    <h3 class="title">Are you connected to the internet?</h3>
      <div class="sad-image effect4"></div>
<p>The elders sympathise with you.The internet is disconnected on your device. You wont be able to use the app. Please check your connection, go to the home page and pull to refresh and get recent jokes</p>

           
  </div>
  </ion-content>
  <div class="bar bar-footer bar-dark footer-button">
        <a class="button ion-android-refresh button-full button-clear button-icon"  ui-sref="app.home">
           Go to home page
        </a>
    </div>
</ion-view>
