   <ion-popover-view  class="fit">
        <ion-content scroll="false">
          <div class="list">
            <a class="item"  href="" ng-click="popNotify()" >
              <i class="icon bigsocial ion-ios-bell" style="color: #FF3333;"></i> Notifications
            </a>
			  <a class="item"  onclick = "window.open('market://details?id=com.wec.lwkm', '_system', 'location=no')" >
              <i class="icon bigsocial ion-android-download" style="color: #FF3333;"></i> Update
            </a>
            <a class="item"  href="" ng-click="popInfo()" >
             <i class="icon bigsocial ion-person-add" style="color: #FF3333;"></i>Register
           </a>
           <a class="item"  href="" ng-click="popInfo()" >
            <i class="icon bigsocial ion-log-in" style="color: #FF3333;"></i>Login
          </a>
          <a class="item"  href="" ng-click="popInfo()" >
           <i class="icon bigsocial ion-power" style="color: #FF3333;"></i>Logout
         </a>
          </div>
        </ion-content>
      </ion-popover-view>
