<ion-view class="contact-view">
  <ion-nav-title>
    <span>Slow!</span>
  </ion-nav-title>
  <ion-content>
  <div class="contact-content">
    <h3 class="title">Problem with Network connection speed?</h3>
      <div class="sad-image effect4"></div>
<p>No one should have to wait this long to laugh. Is your internet connection slowing you down?
The elders sympathise with you.The internet connection on your device is probably slow hence the delay.
LWKM is dependent on an internet connection. A slow connection will dampen your comedy experience
</p>    
<p>Please kindly go back and pull to refresh.</p> 
  </div>
  </ion-content>
</ion-view>
