<ion-view class="contact-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Send us your funny!</span>
  </ion-nav-title>
  <ion-content>
  <div class="contact-content">
<p>Do you have something funny to share with us? (Joke|Picture|Video|Event)Please send it to us using the buttons below and get recognition for you submission.</p>

            <div><button class="button ion-images button-block button-assertive" ng-click="showPictures()"> Send a Picture</button></div>
<div><button class="button ion-play button-block button-assertive" ng-click="showVideos()"> Send a Video</button></div>
<div><button class="button ion-android-happy button-block button-assertive" ng-click="showJokes()"> Send a Joke</button></div>
<div><button class="button ion-android-calendar button-block button-assertive" ng-click="showEvents()"> Send an Event</button></div>
  </div>
  </ion-content>
</ion-view>
