<ion-view view-title="Team" class="contact-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon borderright icon ion-navicon-round"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Team</span>
  </ion-nav-title>
   <ion-content class="padding">
        <h3 class="title assertive">The Team</h3>
         <p>Meet the jobless people behind this app</p>
		  <h4 class="title assertive">Engr Akpos</h4>
		  <div class="engrakpos effect4"></div>
		   <p><strong>BIO:</strong> Engineer Akpos is a struggling Warri Comedian that has been in the comedy game for the past 15 years. He has not still blown. </p>
		   <p><strong>HOBBIES:</strong>  Playing Ayo, impregnating, Tapping palmwine and evangelising to beer bottles</p>
		   <p><strong>FAMILY:</strong>  girlfriend/wife/babymama and 15 pikins (Yes, 15!)</p>
		   
		   <h4 class="title assertive">Akpos Babe</h4>
     <div class="akposbabe effect4"></div>
		   <p><strong>BIO:</strong>Akpos Babe is the long suffering girlfriend/wife in waiting of Engr Akpos. He has been promising her marriage for the past ten years.</p>
		    <p><strong>HOBBIES:</strong>  Daydreaming about weddings and pounding yam for her soccer team</p>
		   <p><strong>FAMILY:</strong>  Useless man/husband and 11 pikins</p>
		   
		      <h4 class="title assertive">Oga Sir</h4>
     <div class="ogasir effect4"></div>
		   <p>Oga Sir is the Oga/Chairman/Chief/MD/tycoon/Mover and Shaker/Mogul/Otunba/Leader/sponsor/Elder of thought of this app.</p>
		   <p><strong>HOBBIES:</strong>  Importing, Exporting, Marrying wives and eating ewedu</p>
		   <p><strong>FAMILY:</strong>  6 wives and 44 pikins</p>
    </div>
  </ion-content>
</ion-view>
