<ion-view view-title="Legal" class="contact-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon borderright icon ion-navicon-round"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Legal</span>
  </ion-nav-title>
  <ion-content>

  <ion-content class="padding">
  <div>
        <h3 class="title assertive">POLICY</h3>
         <p>We take your privacy seriously. Please click the button below to learn more.</p>
         
      </div>

    <div><button class="button ion-camera button-block button-assertive" onclick="window.open('http://www.lwkm.ng/privacy/', '_system', 'location=yes'); return false;"> Privacy Policy
</button></div>
    </div>
	 </ion-content>
  </ion-content>
</ion-view>
