<ion-view view-title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon borderright icon ion-navicon-round"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>About Us</span>
  </ion-nav-title>
<ion-content class="padding">
      <div class="about-image effect4"></div>
  <div>
        <h3 class="title assertive">Wetin we dey do?</h3>
         <p>LWKM stands for Laff Wan Kill Me. We  are a library for all things/people that are funny. We believe life is too hard and that you deserve a break. What better way to unwind than to laugh and forget stressful situations?</p>
         <p>
         We get our laughs from different internet/in-house  sources and we promote comedians and upcoming comedians. Making people laugh is not easy. Hence, we credit you for your works that we showcase here.
        </p>
      </div>
	 </ion-content>
</ion-view>
