// Walkthrough colors
$error-color: #EF473A;
$walkthrough-bg: #FFFFCC;
$walkthrough-color: #000000;

$walkthrough-btn-bg-1: #FF5C5C;
$walkthrough-btn-color-1: #000000;

$walkthrough-btn-bg-2: #FF5C5C;
$walkthrough-btn-color-2: #000000;
