// Audio fix
.wp-audio-shortcode
{
 visibility: visible !important;
 padding: 0px $sides-padding;
}


ion-content
{
  background: $content-bg;
  font-family: 'Roboto', sans-serif;
  vertical-align:middle;
}


.card-header
{
  padding:16px 16px 16px 8px;
}

.card-header h1{
 padding: 0px;
 color: #333;
 font-weight: bolder;
 }

.card-footer
{
  border-top: 2px dashed lighten($content-color,60);
  padding:16px;
  margin-top:5px;
  font-weight: 500;
}

.card-button
{
  font-size: 25px;
  padding: 10px 10px 10px 0;
  text-decoration: none;

  &.primary
  {
    color: $read-more-color;
  }

  &.secondary
  {
    color: $author-color;
	
  }
  
   &.university
  {
    color: $author-color;
	float: right;
	margin: -10px -15px 0 0;
	font-size: 20px;
  }

  font-weight: 400;
}

.card-button1
{
  font-size: 15px;
  padding: 10px 10px 10px 0;
  text-decoration: none;

  &.primary
  {
    color: $read-more-color;
  }

  &.secondary
  {
    color: $author-color;
	
  }
  
   &.university
  {
    color: $author-color;
	float: right;
	margin: -10px -15px 0 0;
	font-size: 20px;
  }

  font-weight: 400;
}

.card-contents
{
  // Fix audio tag not displaying to 100% on ios
  audio::-webkit-media-controls-panel
  {
    width:100% !important;
  }

  p
  {
    padding: 0px $sides-padding;
  }

  img
  {
    height: auto;
	width: 100%;
  }

  ul, ol
  {
    list-style-type: square;
    padding: 0 0 0 40px;
    margin: 14px 0px;
  }

  iframe
  {
    height: auto;
   width: 100%;
  }

  blockquote
  {
    font-style: italic;
    font-weight: 300;
    margin: 20px 20px;
    border: none;
    padding: 0px;

    p
    {
      font-size: 16px;
    }
  }
}

.author
{
  font-weight:400;
  color: $author-color;
  margin-top: -10px;
}

.card-contents a
{
  font-weight:300;
  color: $anchor-color;
}

h1
{
  font-size:22px;
  font-weight:200;
  margin: 0px;
}

h2
{
  margin:0px;
  font-size:13px;
  line-height:2.5;
  color: lighten($content-color, 10);
  font-weight:300;
}

.coin
{
  color: #999999;
}